.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 5;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

@media(min-width: 768px) {
    .panel-open .slideout-panel, .slideout-open .footer-buttons {
        width: calc(100% - 16em);
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: auto;
    }
}