
//Extra Small: from 0 to 400px.
$break-xs: 400px;

//Extra Small - Small: from 668 to 768px.
$break-xs-sm: 600px;

//Small: from 768px to 852px.
$break-sm: 768px;

//Small - Medium: from 852px to 992px.
$break-sm-md: 852px;

//Medium: from 992px to 1200px.
$break-md: 992px;

//Medium-Large: from 992px to 1050px.
$break-md-lg: 1050px;

//Large: from 1200px to 1920px.
$break-lg: 1200px;

//Large-Extra Large: from 1200px to 1500px.
$break-lg-xl: 1500px;

//Extra Large: from 1920px to undefined.
$break-xl: 1920px;