$mainColor: #000b29;
$mainColorLight: #293352;
$mainColorLighter: #2d4077;
$mainColorLightest: #5B7BD5;
$accentColor: #edb83d;
$accentColorLight: #ffda23;
$secondaryColor: #d70023;
$green: #4abd28;
$baseColor: #f8f5f2;
$gray: #4c4c4c;
$grayLight: #7c7c7c;
$grayLighter: #eee;

