$mainColor: #000f33;
$mainColorDark: #0a0e16;
$mainColorLight: #293352;
$mainColorLighter: #2d4077;
$mainColorLightest: #5B7BD5;
$accentColor: #edb83d;
$accentColorDark: #e6b34e;
$accentColorLight: #ffda23;
$secondaryColor: #d70023;
$green: #4abd28;
$baseColor: #f8f5f2;
$gray: #4c4c4c;
$grayLight: #a7adbb;
$grayLighter: #f4f4f4;
$yellowLighter: #ffecb3;
$brownLight:#9b734b;
$brownDark:#331a00;




