// Material Forms

@import "assets/styles/colors.scss";

input.el-input__inner{
    background-color: $grayLighter;
    padding: .25em 0em 0em .5em;

    border: none;
    border-radius: 0em;
    border-bottom: 2px solid $grayLight;
}
input.el-input__inner:focus{
    border-color: $mainColorLightest;
}
textarea.el-textarea__inner{
    padding: .5em 0em 0em .75em;
    background-color: $grayLighter;

    border: none;
    border-radius: 0em;
    border-bottom: 2px solid $grayLight;
}
textarea.el-textarea__inner:focus{
    border-color: $mainColorLightest;
}
button.el-button{
    border-radius: 0em;
}

.el-tabs__nav{
    display: flex !important;
    float: none !important;
}

.el-tabs__item{
    width: 100%;
    text-align: center;
}

.el-tabs--border-card{
    border: none !important;
    box-shadow: none !important;
}

.el-button.accent-button {
    background-color: $accentColor;
    color: #fff;
    border: none;
}

.el-button.accent-button:hover,
.el-button.accent-button:focus {
    background-color: $accentColorLight;
    color: #fff;
    border: none;
}