@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:200,400,600,700,800,900');
//@import url('https://fonts.googleapis.com/css?family=Ruda');
//@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600,700,800');
@import "assets/styles/breakpoints.scss";
@import "assets/styles/colors.scss";
@import "assets/styles/utils.scss";

:root:before{
    content: url('/img/index/banner.jpg'),
    url('/img/index/section_1.jpg'),
    url('/img/index/section_2.jpg'),
    url('/img/index/section_3.jpg')
}

* {
    font-family: 'Encode Sans Expanded', Arial, sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    background-color: #fff;
}

main {
    margin-top: 60px;
    background-color: #fff;
    width: 100%;
}

main > *:nth-child(1){
    min-height: calc(100vh - 60px);
}

.el-dialog {
    width: 90% !important;
}

a{
    color: $mainColorLightest;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.page-enter-active,
.page-leave-active {
    transition: opacity .3s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

hr {
    margin: 0 0 0 5%;
    width: 90%;
    height: 1px;
    border: 0;
    background-color: $grayLight;
}

@media (min-width: $break-sm) {
    .form {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: $break-lg) {
    .form {
        width: 50%;
        margin: 0 auto;
    }
}
