@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Ruda');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600');

*{
    font-family: 'Encode Sans Expanded', Arial, sans-serif;

    box-sizing: border-box;

    outline: none;
}

body{
    margin: 0;
}

main{
    margin-top: 60px; 
    position: absolute;
}

@media screen and (min-width: 768px){
    main{
        margin-left: 16em;
    }
}