@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

/*
 * General Style
 */

* {
    outline: none;
    font-family: "Encode Sans Expanded", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    margin: 0;
}

[class*="col-"] {
    width: 100%;
    display: block;
}


/*
 *   Header Style
 */

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    padding: 0.75em;
    height: 3.75em;
}

.header-elements-left {
    float: left;
}

.header-elements-right {
    float: right;
}

.header-elements-left>* {
    float: left;
    margin-right: 1.25em;
}

.header-elements-right>* {
    float: left;
    margin-left: 1.25em;
    
}

.header-button {
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
}

.header-button:hover {
    cursor: pointer;    
}

.menu-button {
    width: 1.75em;
    height: 1.75em;
    font-size: 1.3em;
    background-color: #fff;
    border: 1px solid lightgray;
}



/*
 *   Side Menu Style
 */

#side-menu {
    margin-top: 3.75em;
    position: fixed;
    background-color: #323232;
    height: 100%;
    color: #fff;
    display: none;
    width: 25%;
}

#side-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#side-menu ul li {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#side-menu ul li .fa {
    font-size: 1.5em;
    margin-right: 1em;
}

#side-menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1.25em;
    display: block;
}


/*
 * Main Style
 */

main {
    padding-top: 3.75em;
}

#top-picture img{
    width: 100%;
}

section {
    padding: 0.75em;
    width: 100%;
}

/*
 * Articles Style
 */

article {
    background-color: white;
    padding: 0.5em;
}

article + article{
    margin-top: 1em;
}

article > img {
    width: calc(100% + 1em);
    margin: -0.5em;
}
article h4 {
    margin-top: -1.5em;
    font-style: italic;
}

article p{
    font-weight: lighter;
}
.article-dates{
    color: #5A5959;
    margin-bottom:1.5em; 
}
.article-dates p{
    display: inline-block;
    font-family: "arial";
    font-size: 0.9em;
    margin: 0em;
}
.article-dates i{
    margin-bottom: 0.25em;
    margin-right: 0.25em;
    font-size: 1.25em;
}
.article-links{
    display: flex;
    justify-content: space-between;
    width: calc(100% + 1em);
    margin-left: -0.5em;
    margin-bottom: -0.5em;
    background-color: #CCCCCC;
    text-align: right;
    padding: 0.20em 0em;
    }
.article-links a{
    padding: 0.15em 0.5em;
    text-decoration: none;
    color: #4D4D4D;
}

footer {
    width: 100%;
    background-color:#CCCCCC;
    padding: 0.3em;
    height: 3.75em;
    text-align: center;
}

@media (min-width: 768px){
    #side-menu{
        width: 20%;
        display:block;
    }
    main, footer{
        margin-left: 20%;
        width: 80%;
    }
    section{
        width: 100%;
        display: table;
        border-spacing: 1em;
        padding: 0;
    }
    .articles{
        margin-left: -1em;
        margin-right: -1em;
    }

    [class*="col-"] {
        display: table-cell;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}