@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Ruda');

/*
 * General Style
 */

* {
    --mainColor: #000b29;
    --mainColorLight:#293352;
    --accentColor: #edb83d;
    --secondaryColor: #d70023;
    --baseColor: #f8f5f2;
   
    outline: none;
    font-family: "Encode Sans Expanded", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--baseColor);
    margin: 0;
}

[class*="col-"] {
    width: 100%;
    display: block;
}


/*
 *   Header Style
 */

header {
    width: 100%;
    background-color: var(--mainColor);
    position: fixed;
    padding: 0.75em;
    height: 3.75em;
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
}

header > * {
    float: left;
}

header > a {
    margin-top: -0.125em;
    font-size: 2.5em;
    color: var(--baseColor);
    font-family: "Ruda";
    text-decoration: none;
    font-weight: bold;
}

.float-right {
    float: right;
}

.header-button {
    color: var(--baseColor);
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
}

.header-button + .header-button {
    margin-left: 0.5em;
}

.header-button:hover {
    cursor: pointer;    
}

#menu-button {
    width: 1.75em;
    height: 1.75em;
    font-size: 1.3em;
    background-color: var(--sec);
    border: none;
    color: var(--baseColor);
    margin-right: 1em;
    border-radius: 0.2em;
}

#menu-button:hover {
    cursor: pointer;
}


/*
 *   Side Menu Style
 */

#side-menu {
    margin-top: 3.75em;
    position: fixed;
    background-color: var(--mainColorLight);
    height: 100%;
    color: #fff;
    display: none;
    width: 25%;
}

#side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#side-menu li {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#side-menu .fa {
    font-size: 1.5em;
    margin-right: 1em;
}

#side-menu a {
    text-decoration: none;
    color: #fff;
    padding: 1.25em;
    display: block;
}

#side-menu a:hover {
    background-color: #4D4D4D;
}


/*
 * Main Style
 */

main {
    padding-top: 3.75em;
}

#top-picture img {
    width: 100%;
}

section {
    padding: 0.75em;
    width: 100%;
}


/*
 * Articles Style
 */

article {
    background-color: white;
    padding: 0.5em;
}

article + article {
    margin-top: 1em;
}

article > img {
    width: calc(100% + 1em);
    margin: -0.5em;
}

article h4 {
    margin-top: -1.5em;
    font-style: italic;
}

article p {
    font-weight: lighter;
}

.article-dates {
    color: #5A5959;
    margin-bottom:1.5em; 
}

.article-dates i {
    margin-bottom: 0.25em;
    margin-right: 0.25em;
    font-size: 1.25em;
}

.article-dates p {
    display: inline-block;
    font-family: "arial";
    font-size: 0.9em;
    margin: 0em;
}

.article-link {
    text-align: right;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
}

.article-link i {
    border-radius: 2em;
    padding: .75em;
    text-decoration: none;
    color: var(--mainColor);
    background-color: var(--accentColor);
}


/*
 *  Footer style
 */

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:#CCCCCC;
    padding: 0.3em;
    text-align: center;
}

div.nav-footer ul {
    padding: 0em;
    list-style-type: none;  
}

div.nav-footer a {
    text-decoration: none;
    color: #4D4D4D;
}

@media (min-width: 768px) {
    #side-menu{
        width: 20%;
        display: block;
    }
    
    main, footer {
        margin-left: 20%;
        width: 80%;
    }

    section {
        width: 100%;
        display: table;
        border-spacing: 1em;
        padding: 0;
    }

    .flex-container {
        display: flex;
    }

    article + article{
        margin-left: 1em;
    }

    .flex-item {
        display: block;
        margin-top: 0;
        width: 100%;
    }

    .nav-footer {
        padding: 1em 4em 0 4em;
    }
    
}