@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css?family=Ruda');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600');

/*
 * General Style
 */

*{
    font-family: 'Encode Sans Expanded', Arial, sans-serif;

    box-sizing: border-box;

    outline: none;

    --mainColor: #000b29;
    --mainColorLight: #293352;
    --accentColor: #edb83d;
    --secondaryColor: #d70023;
    --baseColor: #f8f5f2;
}

body{
    margin: 0;

    background-color: var(--baseColor);
}


/*
 *   Header Style
 */

header{
    position: fixed;

    width: 100%;
    height: 3.75em;
    padding: .75em;

    background-color: var(--mainColor);
}

header > *{
    float: left;
}

header > a{
    font-family: 'Ruda';
    font-size: 1.25em;
    font-weight: bold;

    margin-top: .4em;

    text-decoration: none;

    color: var(--baseColor);
}

.float-right{
    float: right;
}

.header-button{
    font-size: 1.5em;

    width: 1.5em;
    height: 1.5em;

    color: var(--baseColor);
    border: none;
    background-color: transparent;
}

.header-button + .header-button{
    margin-left: .5em;
}

.header-button:hover{
    cursor: pointer;
}

#menu-button{
    font-size: 1.3em;

    width: 1.75em;
    height: 1.75em;
    margin-right: 1em;

    border: none;
    border-radius: .2em;
    background-color: #1f273f;
}

#menu-button:hover{
    cursor: pointer;

    background-color: var(--mainColorLight);
}


/*
 *   Side Menu Style
 */

#side-menu{
    position: fixed;

    width: 16em;
    height: calc(100% - 3.75em);
    margin-top: 3.75em;
    margin-left: -16em;

    transition: .5s ease;

    color: #fff;
    background-color: var(--mainColorLight);
}

#side-menu ul{
    margin: 0;
    padding: 0;

    list-style: none;
}

#side-menu li{
    width: 100%;

    border-bottom: 1px solid lightgray;
}

#side-menu .fa{
    font-size: 1.5em;

    margin-right: 1em;
}

#side-menu a{
    display: block;

    padding: 1.25em;

    text-decoration: none;

    color: #fff;
}

#side-menu a:hover{
    background-color: #545c7e;
}


/*
 * Main Style
 */

main{
    padding-top: 3.75em;

    
}

#top-picture img{
    width: 100%;
}

section{
    width: 100%;
    margin-top: -2em;
    padding: 2em;
}


/*
 * Articles Style
 */

article{
    padding: .5em;

    background-color: white;
}

article + article{
    margin-top: 1em;
}

article > img{
    width: calc(100% + 1em);
    margin: -.5em;
}

article h4{
    font-style: italic;

    margin-top: -1.5em;
}

article p{
    font-weight: lighter;
}

.article-icons{
    display: grid;
    grid-template-columns: 10fr 40fr 20fr 30fr;
    grid-template-rows: 20fr 20fr 20fr 40fr;
    grid-template-areas: 
    "icon description price price"
    "icon description price price"
    "icon description description description" 
    "more more share share"
    ;

    text-align: center;
    align-items: center;

    color: #5a5959;
}
.article-icons *{
    margin: 0em;
}

.article-icons > i{
    grid-area: "icon";
}

.article-icons > p{
    text-align: left;

    grid-area: "description";
}

.article-icons > .location{
    grid-column-start: 2;
    grid-column-end: 5;

}

.article-price{

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.article-price p{
    font-family: "Saira Extra Condensed";
    font-size: 3em;
    
}
.article-more{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.article-more a{
    padding: .75em;

    background-color: lightblue;

    color: var(--mainColor);
    text-decoration: none;
    
    border-radius: .25em;
    
}

.article-share{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.article-share a{
    padding: .75em .9em;

    background-color: var(--accentColor);

    color: var(--mainColor);
    text-decoration: none;

    border-radius: 5em;
}


/*
 *  Footer style
 */

footer{
    display: flex;

    width: 100%;
    padding: .3em;

    text-align: center;

    background-color: #ccc;

    justify-content: space-around;
}

div.nav-footer ul{
    padding: 0;

    list-style-type: none;
}

div.nav-footer a{
    text-decoration: none;

    color: #4d4d4d;
}

@media (min-width: 768px){

    header > a{
        font-size: 2em;

        margin-top: 0;
    }

    #side-menu{
        display: block;

        width: 16em;
        margin-left: 0px;
    }

    section{
        display: table;

        width: 100%;
        margin-top: 0;
        padding: 0;

        border-spacing: 1em;
    }

    .flex-container{
        display: flex;
    }

    article + article{
        margin-left: 1em;
    }

    .flex-item{
        display: block;

        width: 100%;
        margin-top: 0;
    }

    #wrapper{
        margin-left: 16em;
        width: calc(100% - 16em);
        transition: .5s ease;
    }

    .nav-footer{
        padding: 1em 4em 0 4em;
    }
}
